body {
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#entercity {
    font-size: 1.6em;
    background-color: rgb(155, 219, 248);
    border-radius: 15px;
}

#date {
    font-size: 2em;
    color: darkslategray;
    font-weight: bold;
    font-style: oblique;
}

#currentweather {
    font-size: 1.2em;
    background-color: rgb(155, 219, 248);
    padding:25px;
    border-radius: 15px;
}

#weather {
    background-color: whitesmoke;
 
}

#lookahead {
    background-color: rgb(210, 241, 210);
    border-radius: 15px;

}

button {
    margin-bottom: 3vh;
}

.hero {
    background:linear-gradient(rgb(155, 219, 248), whitesmoke); 
    font-style: oblique;
    font-size: 1.6em;
}

.hero-body .title {
    color: white;
    font-size: 4em;
}