*{
    box-sizing: border-box;
} 
  
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 

#city-input {
    width: 75%;
    margin-left: 5%;
}

#search {
    padding: 25%;

}

.hero-body {
    background: linear-gradient(to right, rgb(182, 204, 247), rgb(109, 152, 244));
    text-align: center;
    color:white;
    font-size: 2.3em;
    padding: 1%;
}

#weatherdash {
    font-size: 1.5em;
    color: white;
}

#entercity {
    font-size: 1.6em;
    text-align: center;
    padding-top: 10%;
}

#maindetails {
    margin: auto;
    text-align: center;
    padding-top: 5%;
   
}

#city-name {
    font-size: 2.8em;
    font-weight: bold;
}

#alh {
    font-size: 1.6em;
}

#alookahead {
    font-size: 1em;
    padding: 4px;
    margin: 1px;
}